

.or{
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto; 
    width: 5rem;
    color: black;
    
}




.butonn{
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(194, 194, 194);
    color: white;
    margin: 0 auto; 
    width: 12rem;
    border-radius: 6px;
    padding: 0.8rem;
    margin-top: 1.5rem;

}

.alttaki :hover{
    background-color: rgb(232, 232, 232);


}