.home-link {
    color: brown !important;
  }
  
  .library-link {
    color: brown !important;
  }
  
  .courses-link {
    color: brown!important;
  }
  
  .events-link {
    color: brown!important; 
  }
  
  .about-link {
    color: brown!important;
  }
  
  .contact-link {
    color: brown!important;
  }
.img{
  max-width: 55px;
  height: auto;
  border: white;
}
