@use "../../styles/variables" as v;

.page-header{
    background-color : brown; 
    color: bisque;
    text-align: center;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;

    h1{
        font-weight: 400;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        
    }
}